node_modules
cypress/reports
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/fixtures/*.json
cypress/reports/
cypress/results/
*.log
dist/
npm-debug.log
yarn-error.log
C:\Users\Tach\Documents\Programación\Cypress\Proyectos\DemoBlaze\DemoBlaze\cypress\reports

